{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
  <a href="/game/" type="button" class="btn btn-primary m-2">Retour</a>
  <h1 class="text-center"> Modifier le jeu déposer </h1>
    <article class="container">
     {{ form(form) }}
    </article>
{% endblock %}