{% extends 'base.html.twig' %}

{% block title %} New Form Game {% endblock %}

{% block body %}

    <h1>
        Ajouter un jeu de société
    </h1>
    <article class="container">
        {{ form(form) }}
    </article>

{% endblock %}